@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* COLORS */
body {
    --background: #F4F4F4;
    --shadow: rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    margin-top: 150px;

    height: 100vh;
    background: var(--background);
}

nav {
    position: fixed;

    height: calc(100vh - 150px);

    min-width: 250px;
    max-width: 320px;

    background: #fff;
    box-shadow: 5px 0 15px 2px var(--shadow);
}

nav > ul {
    height: 100%;
    list-style-type: none;
    
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 22px;

    display: flex;
    flex-direction: column;
}

nav > ul > li {
    cursor: pointer;
    text-align: center;
    padding: 25px 0;
}

@media (hover :hover) {
    li:hover {
        background-color: var(--background);
        transition: 0.3s ease;
    }
}

.nav-link {
    text-decoration: none;
    color: #000;
    overflow-wrap: break-word;
}

.active-link-item {
    background-color: var(--background);
}

@media (max-width: 1440px) {
    .container {
        margin-top: 130px;
        background: rgb(255, 115, 0);
    }

    nav {
        min-width: 210px;
        max-width: 320px;

        height: calc(100vh - 130px);
    }
}

@media (max-width: 1200px) {
    .container {
        margin-top: 130px;
        background: rgb(255, 230, 0);
    }

    nav {
        min-width: 190px;
        max-width: 320px;

        height: calc(100vh - 130px);
    }

    nav > ul {
        font-size: 20px;
    }
}

@media (max-width: 770px) {
    .container {
        margin-top: 100px;
        background: rgb(51, 255, 0);
    }

    nav {
        left: -250px;

        min-width: 160px;
        max-width: 320px;

        height: calc(100vh - 100px);
        transition: left 0.3s ease;
    }

    nav.open {
        left: 0;
    }

    .hidden {
        filter: brightness(.5);
    }

    nav > ul {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .container {
        margin-top: 100px;
        background: rgb(0, 247, 255);
    }

    nav {
        left: -100vw;
        
        min-width: 100vw;

        height: calc(100vh - 100px);
    }

    nav.open {
        left: 0;
    }
}
