.container {
    display: flex;
    margin-top: 150px;

    background: var(--background);
}

main {
    margin-left: 250px;
    width: 100%;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;

    padding: 0 50px;
}

main > h1 {
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

main > p {
    font-size: 20px;
    line-height: 2rem;
    margin-bottom: 30px;
}

@media (max-width: 1440px) {
    .container {
        margin-top: 130px;
    }

    main {
        padding: 0 50px;
    }

    main > h1 {
        margin: 25px 0;
    }

    main > p {
        margin-bottom: 25px;
    }
}

@media (max-width: 1200px) {
    .container {
        margin-top: 130px;
    }

    main > h1 {
        margin: 22px 0;
        font-size: 26px;
    }

    main > p {
        font-size: 18px;
        line-height: 1.8rem;
        margin-bottom: 22px;
    }
}

@media (max-width: 900px) {
    .container {
        margin-top: 100px;
    }

    main {
        margin-left: 0;
    }

    main > h1 {
        margin: 20px 0;
        font-size: 24px;
    }

    main > p {
        font-size: 17px;
        line-height: 1.7rem;
        margin-bottom: 20px;
    }

    @media screen and (orientation: portrait) {
        main {
            padding: 0 20px;
        }
    }

    @media screen and (orientation: landscape) {
        main {
            padding: 0 50px;
        }
    }
}

@media (max-width: 350px) {
    .container {
        margin-top: 100px;
    }

    main {
        padding: 0 20px;
    }

    main > h1 {
        margin: 15px 0;
        font-size: 20px;
    }

    main > p {
        font-size: 16px;
        line-height: 1.5rem;
        margin-bottom: 15px;
    }
}
